
body {
    margin: 0;
    background: hsl(0, 0%, 4%); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
           overflow: hidden;
        
    }

canvas {
     background: #1a1a1a;
      border: 4px solid #333;
      box-shadow: 0 0 30px rgba(0,0,0,0.7); 
    
    }


    #mobileBlock {
    position: fixed;
    inset: 0;
    background: #0f172a;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}

.mobileMessage {
    color: white;
    font-family: sans-serif;
    padding: 40px;
}

.mobileMessage h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.mobileMessage p {
    font-size: 18px;
    opacity: 0.8;
}
